.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  width: 100%;
}

.title {
  margin: 0 30px;
  white-space: nowrap;
  font-size: 18px;
  font-weight: bold;
  color: #f06392;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #ccc;
  margin: 0 100px;

  @media (min-width: 1700px) {
    margin: 0 150px; 
  }

  @media (max-width: 768px) {
    margin: 0 20px;
  }

  @media (max-width: 500px) {
    margin: 0 10px;
  }
}

@media (min-width: 1700px) {
  .title {
    font-size: 30px;
    margin: 0 50px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 16px;
    margin: 0 15px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 17px;
    margin: 0 10px;
  }
}
