.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .title {
    margin: 0 10px; 
    white-space: nowrap; 
    font-size: 30px;
    font-weight: bold;
    color: #f06392;
    
  }
  
  .line {
    flex-grow: 1;
    height: 2px;
    background-color: #ccc; 
    margin: 0 100px; 
    
    @media (max-width: 768px) {
      margin: 0 20px; 
    }
  
    @media (max-width: 480px) {
      margin: 0 10px; 
    }
  }
  