.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    width: 100%;
  }
  
  .title {
    margin: 0 10px; 
    white-space: nowrap; 
    font-size: 30px;
    font-weight: bold;
    color: #f06392;
    
  }
  
  .line {
    flex-grow: 1;
    height: 2px;
    background-color: #ccc; 
    margin: 0 100px; 

    @media (max-width: 1700px) {
      .title {
        font-size: 1.5rem;
        padding: 0 0.5rem;
      }
    }

    @media (max-width: 768px) {
      margin: 0 20px; 

      .title {
        font-size: 1.5rem;
        padding: 0 0.5rem;
      }

    }
  
    @media (max-width: 480px) {
      margin: 0 10px; 

      .title {
        font-size: 1.25rem;
        padding: 0 0.25rem;
      }

      
    }
  }
  