.categories-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  padding: 10px;
  width: 100%;
}

.line {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #F0F0F0;
}

.category {
  font-weight: bold;
  color: #9F9F9F;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: color 0.3s ease;
  white-space: nowrap; /* Evita quebra de linha nos itens */
}

.category:hover {
  color: #ff007f;
}

.active {
  color: #ff007f;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px; /* Diminuindo o tamanho da fonte para evitar quebra de linha */
  white-space: nowrap; /* Evita quebra de linha nos itens ativos */
}

.icon img {
  width: 15px; /* Diminuindo o tamanho da coroa */
  height: 15px; /* Diminuindo o tamanho da coroa */
  transition: color 0.3s ease;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 1720px) {
  .categories-bar {
    gap: 100px;
  }
}

@media (max-width: 1570px) {
  .categories-bar {
    gap: 90px;
  }

  .category {
    font-size: 14px;
  }

  .active {
    font-size: 13px; /* Ajustando tamanho da fonte no ativo para corresponder ao contexto */
  }
}

@media (max-width: 1336px) {
  .categories-bar {
    gap: 85px;
  }

  .category {
    font-size: 13px;
  }

  .active {
    font-size: 12px;
  }
}

@media (max-width: 1238px) {
  .categories-bar {
    gap: 78px;
  }

  .category {
    font-size: 12px;
  }

  .active {
    font-size: 11px;
  }
}

@media (max-width: 1136px) {
  .categories-bar {
    gap: 75px;
  }

  .category {
    font-size: 11px;
  }

  .active {
    font-size: 10px;
  }
}

@media (max-width: 1046px) {
  .categories-bar {
    gap: 60px;
  }

  .category {
    font-size: 10px;
  }

  .active {
    font-size: 9px; /* Ajuste para tamanhos menores */
  }
}

/* Mobile - Ajuste para rolagem horizontal e diminuição progressiva da fonte */
@media (max-width: 768px) {
  .categories-bar {
    justify-content: flex-start;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .category {
    font-size: 9px;
  }

  .active {
    font-size: 8px; /* Diminuindo a fonte do ativo ainda mais */
  }

  .categories-bar::-webkit-scrollbar {
    display: none;
  }

  .icon img {
    width: 13px; /* Diminuindo a coroa ainda mais no mobile */
    height: 13px;
  }
}

/* Adicionando media queries para tamanhos menores */
@media (max-width: 640px) {
  .category {
    font-size: 8px;
  }

  .active {
    font-size: 7px; /* Continuando a redução para dispositivos menores */
  }

  .icon img {
    width: 12px; /* Ajuste adicional da coroa */
    height: 12px;
  }
}

@media (max-width: 480px) {

  .categories-bar{
    gap: 30px;
  }

  .category {
    font-size: 10px;
  }

  .active {
    font-size: 10px;
  }

  .icon img {
    width: 11px; /* Ajuste adicional da coroa */
    height: 11px;
  }
}

@media (max-width: 400px) {
  .categories-bar{
    gap: 30px;
  }
  .category {
    font-size: 10px;
  }

  .active {
    font-size: 10px; /* Reduzindo ainda mais o ativo para evitar quebras */
  }


}
