.header {
  display: flex;
  gap: 10px; 
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 170px;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 59px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f5f3ef;
  border-radius: 10px;
  padding: 5px 10px;
  width: 50%;
  max-width: 800px; 
}

.search-bar input {
  border: none;
  background: transparent;
  flex: 1;
  padding: 5px;
  font-size: 16px;
  outline: none;
}

.search-icon {
  color: #aaa;
}

.icons {
  display: flex;
  align-items: center;
  gap: 24px; 
}

.icons img {
  height: 30px;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 1024px) {
  .header {
    padding: 10px 50px;
    gap: 5px; 
  }

  .search-bar {
    width: 40%; 
  }

  .icons {
    gap: 12px; 
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center; 
    padding: 10px 20px;
    gap: 10px;
  }

  .logo {
    justify-content: center;
    width: 100%; 
  }

  .logo img{
    height: 40px;
  }

  .search-bar {
    width: 100%; 
  }

  .icons {
    justify-content: space-around;
    width: 100%; 
  }

  .icons img {
    height: 26px; 
  }
}
