.categories-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  margin: 20px;
  flex-wrap: wrap;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  width: 100px;
  height: 100px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.image:hover {
  background-color: #b8b8b8;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.category-name {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-top: 10px;
  text-align: center;
}

.active {
  color: #f06392;
}

/* Responsividade */
@media (max-width: 1200px) {
  .categories-container {
    justify-content: flex-start; /* Alinha à esquerda */
    gap: 60px;
  }
}

@media (max-width: 992px) {
  .categories-container {
    justify-content: flex-start;
    gap: 40px;
  }

  .category-item {
    width: calc(33.33% - 40px);
  }
}

@media (max-width: 768px) {
  .categories-container {
    justify-content: flex-start;
    gap: 20px;
  }

  .category-item {
    width: calc(33.33% - 20px);
  }
  .category-name {
    font-size: 12px ;
  }
}

@media (max-width: 480px) {
  .categories-container {
    justify-content: flex-start;
    gap: 10px;
  }

  .category-item {
    width: calc(33.33% - 10px);
  }
}
