.related-products {
  text-align: center;
  margin: 0;
  margin-top: 4px;

  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    .category-itempro {
      border: 1px solid #ccc;
      padding: 5px 110px;
      cursor: pointer;
      text-align: center;
      margin: 0;

      &:hover {
        color: #ff007f;
      }

      &.ative {
        font-weight: bold;
        color: #f06392;
      }
    }
  }

  @media (max-width: 1700px) {
    

    .categories {
      .category-itempro {
        padding: 5px 70px;
      }
    }
  }

  @media (max-width: 768px) {
    

    .categories {
      gap: 0.5rem;

      .category-itempro {
        padding: 5px 100px;
      }
    }
  }

  @media (max-width: 480px) {
   

    .categories {
      gap: 2px;

      .category-itempro {
        padding: 0.5rem;
        font-size: 0.875rem;
      }
    }
  }
}
